<div class="cg-keyboard hide">
    <div class="kb-wrap">
        <div class="column">
            <p class="key-item">1</p>
            <p class="key-item">4</p>
            <p class="key-item">7</p>
            <p class="key-item">.</p>
        </div>
        <div class="column">
            <p class="key-item">2</p>
            <p class="key-item">5</p>
            <p class="key-item">8</p>
            <p class="key-item">0</p>
        </div>
        <div class="column">
            <p class="key-item">3</p>
            <p class="key-item">6</p>
            <p class="key-item">9</p>
            <p class="key-item kb-hide" id="kb-hide"><img src="assets/keyboard.png" ></p>
        </div>
        <div class="column">
            <p class="key-item kb-del" id="kb-del"><img src="assets/back.png"></p>
            <p class="key-item kb-confirm" id="kb-confirm">确定</p>
        </div>
    </div>
</div>