.cg-keyboard {
    &.hide {
        transform: translateY(200px)
    }
    &.show {
        transform: translateY(0)
    }
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .25s;
    .kb-wrap {
        display: flex;
        .column {
            width: 25%;
            flex-direction: column;
            .key-item {
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                font-size: 23px;
                border-top: 1px solid #ddd;
                border-right: 1px solid #ddd;
                &.active {
                    background: #ddd;
                }
                img {
                    width: 30px;
                }
                &.kb-del,
                &.kb-confirm {
                    height: 50%;
                }
                &.kb-confirm {
                    color: #fff;
                    background-color: #0F88EB;
                    border-top: 1px solid #0F88EB;
                }
            }
        }
    }
}